# packages in environment at /Users/rogerko/miniconda3/envs/Opossum_branch2:
#
# Name                    Version                   Build  Channel
ampl-mp                   3.1.0                h26a2512_1    conda-forge
appdirs                   1.4.3                     <pip>
appnope                   0.1.0                    py36_0    conda-forge
astroid                   1.6.5                    py36_0    conda-forge
backcall                  0.1.0                      py_0    conda-forge
blas                      1.1                    openblas    conda-forge
boost                     1.67.0           py36h3e44d54_0    conda-forge
boost-cpp                 1.67.0               h3a22d5f_0    conda-forge
bzip2                     1.0.6                         1    conda-forge
ca-certificates           2018.8.24            ha4d7672_0    conda-forge
certifi                   2018.8.24             py36_1001    conda-forge
cloudpickle               0.5.3                      py_0    conda-forge
cma                       2.6.0                     <pip>
cycler                    0.10.0                     py_1    conda-forge
decorator                 4.3.0                      py_0    conda-forge
eigen                     3.3.5                hfc679d8_1    conda-forge
freetype                  2.9.1                h6debe1e_0    conda-forge
icu                       58.2                 hfc679d8_0    conda-forge
ipopt                     3.12.10         blas_openblash1727795_0  [blas_openblas]  conda-forge
ipykernel                 4.8.2                    py36_0    conda-forge
ipyparallel               6.2.2                    py36_0    conda-forge
ipython                   6.5.0                    py36_0    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
isort                     4.3.4                    py36_0    conda-forge
jedi                      0.12.1                   py36_0    conda-forge
jupyter_client            5.2.3                      py_1    conda-forge
jupyter_core              4.4.0                      py_0    conda-forge
kiwisolver                1.0.1            py36h2d50403_2    conda-forge
lazy-object-proxy         1.3.1                    py36_0    conda-forge
libffi                    3.2.1                hfc679d8_4    conda-forge
libgfortran               3.0.0                         0    conda-forge
libgfortran-ng            3.0.1                h93005f0_2  
libpng                    1.6.35               ha92aebf_0    conda-forge
libsodium                 1.0.16                        0    conda-forge
matplotlib                2.2.3            py36h0e0179f_0    conda-forge
mccabe                    0.6.1                      py_1    conda-forge
metis                     5.1.0                         3    conda-forge
mumps                     5.0.2           blas_openblash613969f_210  [blas_openblas]  conda-forge
ncurses                   6.1                  hfc679d8_1    conda-forge
nlopt                     2.5.0            py36hf8a1672_0    conda-forge
nose                      1.3.7                     <pip>
numpy                     1.15.0          py36_blas_openblashd3ea46f_200  [blas_openblas]  conda-forge
openblas                  0.2.20                        8    conda-forge
openssl                   1.0.2p               h470a237_0    conda-forge
pagmo                     2.9                  hfc679d8_0    conda-forge
parso                     0.3.1                      py_0    conda-forge
pexpect                   4.6.0                    py36_0    conda-forge
pickleshare               0.7.4                    py36_0    conda-forge
pip                       18.0                     py36_1    conda-forge
ply                       3.11                      <pip>
prompt_toolkit            1.0.15                   py36_0    conda-forge
ptyprocess                0.6.0                    py36_0    conda-forge
pygments                  2.2.0                      py_1    conda-forge
pygmo                     2.9              py36h5c5fb89_0    conda-forge
pylint                    1.9.2                    py36_0    conda-forge
Pyomo                     5.5.0                     <pip>
pyparsing                 2.2.0                      py_1    conda-forge
python                    3.6.6                h5001a0f_0    conda-forge
python-dateutil           2.7.3                      py_0    conda-forge
pytz                      2018.5                     py_0    conda-forge
PyUtilib                  5.6.3                     <pip>
pyzmq                     17.1.2           py36hae99301_0    conda-forge
rbfopt                    4.0.3                     <pip>
readline                  7.0                  haf1bffa_1    conda-forge
scipy                     1.1.0           py36_blas_openblash7943236_201  [blas_openblas]  conda-forge
scotch                    6.0.5                h9c0d707_1    conda-forge
setuptools                40.0.0                   py36_1    conda-forge
simplegeneric             0.8.1                      py_1    conda-forge
six                       1.11.0                   py36_1    conda-forge
sqlite                    3.24.0               h2f33b56_0    conda-forge
tk                        8.6.8                         0    conda-forge
tornado                   5.1              py36h470a237_1    conda-forge
traitlets                 4.3.2                    py36_0    conda-forge
wcwidth                   0.1.7                      py_1    conda-forge
wheel                     0.31.1                   py36_1    conda-forge
wrapt                     1.10.11                  py36_0    conda-forge
xz                        5.2.4                h470a237_1    conda-forge
zeromq                    4.2.5                hfc679d8_5    conda-forge
zlib                      1.2.11               h470a237_3    conda-forge
